body {
  background-image: url("../assets/fondos/azulestrellitas.gif");
}

.ponja {
  font-size: 12pt !important;
  font-family: "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "Osaka", "メイリオ, Meiryo", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", "MS Gothic",
    "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    background-color: rgb(172, 173, 243);
    border: 2px solid rgb(98, 120, 187);
    width: fit-content;
    padding: 0px 25px 0px 25px;
    align-self: flex-end;
    margin-right: 15px;
}

table,
td {
  background-color: rgb(172, 173, 243);
  border: 2px solid rgb(98, 120, 187);
}

.pre_cioso {
  background-color: rgb(172, 173, 243);
  border: 2px solid rgb(98, 120, 187);
  width: fit-content;
  padding: 25px 25px 0px 25px;
  align-self: flex-end;
  margin-right: 15px;
}

.divider {
  background-color: rgb(155, 137, 206);
  border: 2px solid rgb(51, 42, 82);
  width: fit-content;
}

.caja {
  background-color: rgba(38, 13, 71, 0.582);
  margin: auto;
  margin-bottom: 50px;
  padding: 25px 20px 20px 20px;
  width: 50%;
  border: 32px solid orange;
  border-image: url('../assets/dividers/borde4.png') 64 / 64px round;
}

.cajita {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 50px;
  width: fit-content;
  padding: 2px 5px 2px 5px;
  font-family: 'Courier New', Courier, monospace;
/*   background-color: rgb(135, 211, 221); */
  background-color: rgb(98, 120, 187);
  font-size: 25px;
}

/* .navbar {
  border: 32px solid orange;
  border-image: url('../assets/dividers/borde4.png') 32 / 5px round;
} */

a:link{
  color: rgb(67, 95, 85);
}

a:visited{
  color:rgb(155, 137, 206)
}
