@font-face {
  font-family: "fuente";
  src: url("/fonts/Perfect DOS VGA 437.ttf");
}

body {
    background: url("../assets/fondos/celesestrellas.gif");
  }

  h3 {
    font-family: "fuente";
    background-color: #bdecff;
    padding: 2px;
    font-size: 30px;
    color: rgb(231, 237, 241);
  }

  .renderpixeles {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 5px;
  }

  .renderpixeles:hover{

    transform: scale(1.2);

  }

  .rendercachivaches{

    margin: 5px;

  }

  .caja{
/*     background-color: rgba(225, 227, 248, 0); */
    margin: auto;
    margin-top: 25px;
    width: 50%;
    padding: 25px;
  }

  .cajita{
    background-color: rgba(177, 219, 255, 0.342);
    width: fit-content;
    padding: 15px;
    margin: auto;
/*     border: 32px solid orange;
    border-image: url('../assets/dividers/borde4.png') 32 / 32px round;
    background-clip: padding-box; <--- este comando ta bueno, queda el borde afuera del padding*/
  }

  .borde{
    width: fit-content;
    border: 32px solid orange;
    border-image: url('../assets/dividers/borde4.png') 32 / 32px round;
  }

  .titulo{
    background-color: rgb(158, 197, 231);
    width: fit-content;
    padding: 5px 15px;
    margin: auto;
    margin-bottom: 25px;
  }

  