body {
    background-image: url("../assets/fondos/apple.gif");
  }

.caja {
  background-color: rgba(147, 158, 127, 0.363);
  margin: 0px 50px 50px 50px;
  padding: 25px 20px 20px 20px;
}
p {
  background-color: rgba(159, 161, 139, 0.733);
  margin: 0px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  width: fit-content;
}

h1 {
  background-color: rgba(228, 203, 180, 0.973);
  margin: 50px 150px 30px 100px;
  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.cajaflex {
    display: flex;
    background-color: rgba(159, 161, 139, 0.733);
    width: 100%;
    flex-wrap: wrap;
}

.actividad {
  width: 40%;
  padding: 10px 0px 0px 0px;
}

.botones {
  width: 40%;
  padding: 10px 0px 0px 0px;
}

.total {
  width: 20%;
  padding: 10px 0px 0px 0px;
}
.awa{
  padding-top: 10px;
  font-size: 15px;
  background-color: rgba(228, 203, 180, 0.973);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.tbotones {
  padding-top: 20px;
  font-size: 15px;
  background-color: rgba(228, 203, 180, 0.973);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.ttotal {
  padding-top: 20px;
  font-size: 20px;
  background-color: rgba(228, 203, 180, 0.973);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.ttotalsuma {
  padding-top: 20px;
  font-size: 20px;
  background-color: rgba(228, 203, 180, 0.973);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.tsemanas {
  padding-top: 10px;
  font-size: 20px;
  background-color: rgba(228, 203, 180, 0.973);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.titulo {
  flex: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgba(228, 203, 180, 0.973);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  height: 50px;
}

.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fila {
  display: flex;
  height: 50px;
}

.item {
  flex: 1;
  background-color: rgba(159, 161, 139, 0.733);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-child(even) {
  background-color: rgba(189, 192, 163, 0.733);
}